svg {
	border: 1px dashed gray;
}

/*
circle {
	cursor: help;
}
*/

svg *::selection {
	background: transparent;
}

svg *::-moz-selection {
    background: transparent;
}

svg *::-webkit-selection {
	background: transparent;
}